In [45]:
import pandas as pd

In [46]:
df = pd.read_csv('../prep/supers.csv')
df

,name,align,tagline,based_in,power_1,power_2,power_3
0,The Trilobite,NaN,Caped Cambrian,Silvania,armor,antennae,NaN
1,Putin Bae,villain,Rasslin’ Russophile,Mansfield,politics,wrestling,selective blindness
2,Cardinal Virtue,hero,Redbird of Righteousness,Cincinnati,flight,angry beak,moral purity
3,Orville Wrong,villain,Fiend of Flight,Dayton,invention,armed ultralight,NaN
4,Wilbur Wrong,villain,Fiend of Flight,Dayton,invention,armed ultralight,NaN
5,Henry Fnord,villain,Mass-Producer of Mayhem,Dearborn,riches,Model T2: Judgement Day,NaN
6,Nell Strongarm,villain,Astro-Thug,Wapokoneta,Super-strength,spaceship,NaN
7,The Thinker,hero,NaN,Cleveland,introspection,NaN,NaN
8,Blue Jacket,hero,NaN,Chillicothe,horsemanship,crack shot,oratory
9,Captain Columbus,hero,Protector of Ohio,Columbus,Super-strength,flight,NaN
10,Buckeye Bullet,hero,Literally Is Jesse Lewis,Cleveland,Super-speed,NaN,NaN
11,Annie Oakley,hero,Little Miss Sure Shot,Greenville,marksmanship,acrobatics,healing
12,The Stealer,villain,NaN,Pittsburgh,stealth,NaN,NaN
13,Ohio Gosaimasu,hero,Sandusky Samurai,Sandusky,swordplay,honor,NaN
14,The Hawk King,hero,NaN,Hocking Hills,flight,Super-strength,NaN
15,Airship Alice,villain,NaN,Akron,blimp,stealth,NaN
16,Motown Menace,villain,NaN,Detroit,funk,beat,NaN
17,Captain Cuyahoga,villain,Fire and Water Do Mix,Cleveland,water control,generate fire,NaN
18,Indian Jane,hero,Nazi-punching archaeologist,Bloomington,scholarship,Derring-do,NaN
19,Defiance Dogman,villain,NaN,Defiance,fangs,speed,NaN
20,Loveland Frogman,NaN,NaN,Loveland,swimming,tongue,NaN
21,Marvelous Mudhen,hero,NaN,Toledo,swimming,NaN,NaN
22,Mad Miller,NaN,NaN,Milan,balloon,NaN,NaN

# filters

In [11]:
df[df.tagline.notna()]

,name,align,tagline,based_in,power_1,power_2,power_3
0,The Trilobite,NaN,Caped Cambrian,Silvania,armor,antennae,NaN
1,Putin Bae,villain,Rasslin’ Russophile,Mansfield,politics,wrestling,selective blindness
2,Cardinal Virtue,hero,Redbird of Righteousness,Cincinnati,flight,angry beak,moral purity
3,Orville Wrong,villain,Fiend of Flight,Dayton,invention,armed ultralight,NaN
4,Wilbur Wrong,villain,Fiend of Flight,Dayton,invention,armed ultralight,NaN
5,Henry Fnord,villain,Mass-Producer of Mayhem,Dearborn,riches,Model T2: Judgement Day,NaN
6,Nell Strongarm,villain,Astro-Thug,Wapokoneta,Super-strength,spaceship,NaN
9,Captain Columbus,hero,Protector of Ohio,Columbus,Super-strength,flight,NaN
11,Annie Oakley,hero,Little Miss Sure Shot,Greenville,marksmanship,acrobatics,healing
13,Ohio Gosaimasu,hero,Sandusky Samurai,Sandusky,swordplay,honor,NaN
17,Captain Cuyahoga,villain,Fire and Water Do Mix,Cleveland,water control,generate fire,NaN
18,Indian Jane,hero,Nazi-punching archaeologist,Bloomington,scholarship,Derring-do,NaN

# statistics

In [10]:
df.describe()

,name,align,tagline,based_in,power_1,power_2,power_3
count,23,20,12,23,23,18,4
unique,23,3,11,20,19,17,4
top,The Trilobite,villain,Fiend of Flight,Cleveland,flight,armed ultralight,selective blindness
freq,1,10,2,3,2,2,1

## chaining

In [13]:
df[df.tagline.notna()].describe()

,name,align,tagline,based_in,power_1,power_2,power_3
count,12,11,12,12,12,12,3
unique,12,2,11,11,10,11,3
top,The Trilobite,villain,Fiend of Flight,Dayton,invention,armed ultralight,selective blindness
freq,1,6,2,2,2,2,1

# Pandas / SQL

In [48]:
df = pd.read_sql('select * from supers', 'postgresql://captcbus:forohio@localhost:5455/justice')

In [49]:
df.to_sql('supers', 'sqlite:///justice.sqlite', index=False, if_exists='replace')

25

# [jupysql](https://jupysql.ploomber.io/en/latest/quick-start.html)

In [28]:
%load_ext sql

In [32]:
%sql sqlite:///justice.sqlite

Connecting and switching to connection sqlite:///justice.sqlite

In [34]:
%%sql sqlite:///justice.sqlite
SELECT  name, tagline, based_in
FROM    supers
WHERE   align = 'villain'

+------------------+-------------------------+------------+
|       name       |         tagline         |  based_in  |
+------------------+-------------------------+------------+
|    Putin Bae     |   Rasslin’ Russophile   | Mansfield  |
|  Orville Wrong   |     Fiend of Flight     |   Dayton   |
|   Wilbur Wrong   |     Fiend of Flight     |   Dayton   |
|   Henry Fnord    | Mass-Producer of Mayhem |  Dearborn  |
|  Nell Strongarm  |        Astro-Thug       | Wapokoneta |
|   The Stealer    |           None          | Pittsburgh |
|  Airship Alice   |           None          |   Akron    |
|  Motown Menace   |           None          |  Detroit   |
| Captain Cuyahoga |  Fire and Water Do Mix  | Cleveland  |
| Defiance Dogman  |           None          |  Defiance  |
+------------------+-------------------------+------------+
Truncated to displaylimit of 10.

In [60]:
clevelanders = %sql SELECT * FROM supers WHERE based_in = 'Cleveland'

Running query in 'sqlite:///justice.sqlite'

In [61]:
clevelanders

+----+------------------+---------+-----------------------+-----------+
| id |       name       |  align  |        tagline        |  based_in |
+----+------------------+---------+-----------------------+-----------+
| 8  |   The Thinker    |   hero  |          None         | Cleveland |
| 11 |  Buckeye Bullet  |   hero  |          None         | Cleveland |
| 18 | Captain Cuyahoga | villain | Fire and Water Do Mix | Cleveland |
+----+------------------+---------+-----------------------+-----------+

In [62]:
df = clevelanders.DataFrame()

In [65]:
df.name.max()

'The Thinker'